* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(Images/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    margin: auto;
}